<header>
  <div
    class="bg-[#FFFFFF] border-b-2 border-[#F0F2F5] flex flex-row justify-between p-2"
  >
    <div class="flex flex-row items-center w-48 justify-around">
      <img src="assets/Icons/logo.svg" class="w-8 h-8 ml-5" alt="Logo" />
      <p class="text-xl">Every Day Ai</p>
    </div>
    <div>
      <ul class="flex flex-row justify-around pr-5">
        <li class="mx-2"><a href="">Home</a></li>
        <li class="mx-2"><a href="">New Chat</a></li>
        <li class="mx-2"><a href="">Settings</a></li>
        <li class="mx-2">
          <a href=""
            ><img
              src="assets/Icons/user-porfile.svg"
              alt="user profile image"
              class="w-6 h-6"
          /></a>
        </li>
      </ul>
    </div>
  </div>
</header>
